/ .row
/   ol.breadcrumb
/     li
/       a href="#"
/         svg.glyph.stroked.home
/           use xlink:href="#stroked-home"

h1 Admin::Home#index
p Find me in app/views/admin/home/index.html.slim
