.header_top {
    background: none repeat scroll 0 0 #F0F0E9;
}

.footer-bottom  {
    background: none repeat scroll 0 0 #F0F0E9;
}
.header-middle {
  border-bottom: 1px solid #eeeeee;
}
.footer-format{
    line-height: 50px;
    font-size: 21px;
}

